.box {width: 250px;
    height: 320px;
    padding: 20px;
    border: 3px solid black;
    background: solid white;}


* {color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
body{background-image: url(https://i.pinimg.com/originals/d1/24/86/d1248616fb7f4ffe938b102dfa5bf604.jpg);}
